[Xfce Panel]
Type=X-XFCE-PanelPlugin
Name=Loads Monitor
Comment=Shows cpu and memory usage
Icon=view-hidden
X-XFCE-Module=lmon
X-XFCE-Internal=false
X-XFCE-Unique=false
X-XFCE-API=2.0
